<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <% if (user) { %>
        <div class="nav-item active text-white d-flex">
          <span class="mb-0 align-self-center">Hello,</span>
          <span
            class="mb-0 ml-1 font-italic font-weight-bold text-light align-self-center"
          >
            <%= user.email %>
          </span>
          <span class="mb-0 mr-3 align-self-center">!</span>
          <form method="POST" action="/logout" class="form-inline">
            <button type="submit" class="btn btn-outline-info my-2 my-sm-0">
              Log out
            </button>
          </form>
        </div>
        <% } else { %>
        <div class="navbar-nav">
          <form class="nav-item form-inline" method="GET" action="/login">
            <div class="form-group mb-2">
                <button
                  type="submit"
                  class="btn btn-outline-info"
                  style="width: 100px"
                >
                  Login
                </button>
              </form>
              <form method="GET" action="/register">
                <button
                  type="submit"
                  class="btn btn-outline-warning mx-3"
                  style="width: 100px"
                >
                  Sign Up
                </button>
              </form>
            </div>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>
